In [2]:
import pandas as pd
import numpy as np

In [7]:
n = ['id', 'date', 'name', 'text', 'typr', 'rep', 'rtw', 'faw', 'stcount', 'foll', 'frien', 'listcount']
data_positive = pd.read_csv('positive.csv', sep=';', error_bad_lines=False, names=n)
data_negative = pd.read_csv('negative.csv', sep=';', error_bad_lines=False, names=n)

In [10]:
data_positive.head()
data_negative.head()

,id,date,name,text,typr,rep,rtw,faw,stcount,foll,frien,listcount
0,408906762813579264,1386325944,dugarchikbellko,на работе был полный пиддес :| и так каждое за...,-1,0,0,0,8064,111,94,2
1,408906818262687744,1386325957,nugemycejela,"Коллеги сидят рубятся в Urban terror, а я из-з...",-1,0,0,0,26,42,39,0
2,408906858515398656,1386325966,4post21,@elina_4post как говорят обещаного три года жд...,-1,0,0,0,718,49,249,0
3,408906914437685248,1386325980,Poliwake,"Желаю хорошего полёта и удачной посадки,я буду...",-1,0,0,0,10628,207,200,0
4,408906914723295232,1386325980,capyvixowe,"Обновил за каким-то лешим surf, теперь не рабо...",-1,0,0,0,35,17,34,0

In [12]:
valid_columns = ['id', 'text', 'typr']
main_base = pd.concat([data_positive[valid_columns], data_negative[valid_columns]])
main_base['typr'].value_counts()

 1    114911
-1    111923
Name: typr, dtype: int64

In [13]:
shuffled_df = main_base.sample(frac = 1)
shuffled_df.head()

,id,text,typr
59919,410143227896135680,RT @Soufiane_Lfid: @Vazonok просто все фотки б...,1
46269,409996689693736960,RT @_oksankaaaa_: @mokshinaaa лови фон Дивушка...,1
53594,410067217779535872,@_Evil_Anchovy если у меня будет хоть одна чет...,1
51398,410045469260128256,@rape______me изхизхизх ты жи знаишь што я доб...,1
83171,419883150597427201,Хоббит не впечатлил( стал похож на компьютерну...,-1

In [14]:
shuffled_df.to_csv('twitter_emo_df.csv')